<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        label {
            display: block;
            margin-top: 10px;
        }

        input {
            margin-top: 5px;
            padding: 8px;
            width: 100%;
        }

        button {
            margin-top: 10px;
            padding: 10px;
            width: 100%;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <main class="main-container">
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}

            <div>
                {{ form.username.label }} {{ form.username() }}
            </div>

            <div>
                {{ form.password.label }} {{ form.password() }}
            </div>

            {{ form.submit() }}
        </form>

        <div>
            <a href="{{ url_for('auth.register') }}">Зарегестрироваться</a>
        </div>
    </main>

    <footer class="header-container"></footer>
</body>

</html>