# Папки и файлы конфигурации
.env
config.py

# Папки виртуальных окружений
.venv/
venv/
env/
env.bak/

# Папки с скомпилированными файлами Python
__pycache__/
*.pyc

# Лог-файлы
*.log

# Базы данных
*.sqlite
*.db

# Миграции (если там есть чувствительная информация)
migrations/

# Папка с результатами тестирования (если они содержат чувствительные данные)
test_results/
