{% extends 'layout.html' %}

{% block content %}
<div class="edit-container">
    {% include 'edit_links_layout.html' %}

    <div class="edit-forms-container">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div>
                {{ form.username.label() }}
                {{ form.username() }}

                {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                {{ form.email.label() }}
                {{ form.email() }}

                {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>

            <div>
                {{ form.description.label() }}
                {{ form.description() }}

                {% for error in form.description.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>

            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}