{% extends 'layout.html' %}

{% block content %}

<h1>Profile of <span style="color:rgb(185, 71, 230)">{{ user.username }}</span></h1>
<p>Email: {{ user.email }}</p>

{% if user.profile.description %}
<p>About: {{ user.profile.description }}</p>
{% endif %}

{% if social_links and (social_links.values() | select('string') | list) %}
<h2>Social Links</h2>
<ul>
    {% for field_name, label in SOCIAL_LINKS.items() %}
    {% set link = social_links.get(field_name) %}
    {% if link %}
    <li>
        <strong>{{ label }}:</strong>
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if user.id == current_user.id %}
<a href="{{ url_for('user.edit_profile') }}">Изменить профиль</a>
{% endif %}

{% endblock %}